* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #3a0ca3, #4361ee, #4cc9f0);
}


header {
    background: white;
    padding: 15px 60px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

header img {
    height: 60px;
}

.inst{
    margin: 50px 0;
    display: flex;
    justify-content: center; 
    font-family: cursive;
    color: rgb(244, 10, 10);
}

.inst h1{
   padding: 20px 20px;
   background: linear-gradient(105deg, blue 5%,pink);
   border-radius: 20px;
   box-shadow: 0 0 10px black;
}

.listHeader a {
    text-decoration: none;
    margin: 0 15px;
    color: #1e1e2f;
    font-weight: 600;
    transition: 0.3s;
}

.listHeader a:hover {
    color: #7209b7;
}

.btn-inscricao {
    background: linear-gradient(45deg, #7209b7, #b5179e);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-inscricao:hover {
    transform: scale(1.05);
}


.cadastro {
    padding: 40px 60px;
}

.sobre {
    background: linear-gradient(90deg, #5390d9, #4cc9f0);
    padding: 40px;
    margin: 0px 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    margin-bottom: 40px;
}

.sobre h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.sobre p {
    line-height: 1.6;
    font-size: 18px;
}


.formulari {
    background: white;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.formulari form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.formulari input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 250px;
    transition: 0.3s;
}

.formulari input:focus {
    border-color: #4361ee;
    outline: none;
    box-shadow: 0 0 5px rgba(67,97,238,0.4);
}


.cursos {
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.mult, .info, .tele {
    background: white;
    border-radius: 20px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
    
}

.mult:hover,
.info:hover,
.tele:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px black;
}

.mult img,
.info img,
.tele img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}

.mult h2,
.info h2,
.tele h2 {
    margin-bottom: 15px;
}

.mult button,
.info button,
.tele button {
    background: #4361ee;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.mult button:hover,
.info button:hover,
.tele button:hover {
    background: #3a0ca3;
}

